*.lst
*.o
*.pyc
src/.dep
src/Makefile
src/config.h
src/gnuk.ld
src/gnuk.bin
src/gnuk.dmp
src/gnuk.elf
src/gnuk.hex
src/gnuk.map
src/*.inc
regnual/regnual.bin
regnual/regnual.hex
regnual/regnual.elf
doc/_build
